<div class="card" id="experiencia-gral">
  <div id="data-pack1">
    <h1>Experiencia</h1>
    <ul id="exp-card">
      <div id="data-exp">
      <a href="#">
        <img class="img-responsive" id="img-exp" src="../../../assets/logos/mde.jpeg"> <!--logo mde-->
      </a>
      <div>
        <h2>Administrativo</h2>
        <p>Muebles Don Eduardo - Jornada Completa</p>
        <p>2022-2016</p>
        <p>Avenida Beltrame, Obera, Misiones</p>
      </div>
      </div>
    </ul>
  </div>
  <div id="data-pack2">
    <h1>Educacion</h1>
    <ul id="exp-card">
      <div id="data-exp">
      <a href="#">
        <img class="img-responsive" id="img-exp" src="../../../assets/logos/unam.png"> <!--logo mde-->
      </a>
      <div>
        <h2>Instituto Nuestra Sra de Lourdes</h2>
        <p>Economia y Gestion de las Organizaciones</p>
        <p>2010-1998</p>
      </div>
      </div>
    </ul>
  </div>
</div>
