<div class="card" id="experiencia-gral">
  <div id="data-pack1">
    <h1 class="mt-3">Experiencia</h1>
    <ul id="exp-card" class="mt-4">
      <div id="data-exp">
      <a href="#">
        <img class="img-responsive" id="img-exp" src="../../../assets/logos/mde.jpeg"> <!--logo mde-->
      </a>
      <div>
        <h2>Administrativo</h2>
        <p>Muebles Don Eduardo - Jornada Completa</p>
        <p>2022-2016</p>
        <p>Avenida Beltrame, Obera, Misiones</p>
      </div>
      <div class="row">
        <a
          class="btn btn-outline-dark"
          data-placement="top"
          data-toggle="tooltip"
          data-original-title="Edit"
        ><i class="bi bi-pencil-square"></i>
        </a>
        <a
          class="btn btn-secondary tooltips"
          data-placement="top"
          data-toggle="tooltip"
          data-original-title="Delete"
        ><i class="bi bi-x-square"></i>
        </a>
      </div>
      </div>
    </ul>
  </div>
</div>
