<div class="card mat-card" id="info-card">
  <!-- <div id="profile-background">
    <img class="image-banner" src="../../../assets/perfil/portada.jpg_large"> imagen de banner
  </div> -->
  <div id="info-pad" style="padding: 16px">
  <div id="info-img">
    <img class="image-profile" src="../../../assets/perfil/avatar.jpg"> <!--imagen de perfil-->
    <div class="btn-edit">
      <a href="http://" class="btn-right"><i class="fa fa-edit"></i></a>
    </div>
    <!--<div>
      <h1>Taron Jonathan Alexander</h1>
      <div id="info-company">tecnico en MDE</div>
      <div id="info-contact">
        <span>Misiones (Argentina)</span>
        <span><a href="#">Informacion de contacto</a></span>
      </div>
    </div>-->
  </div>
  <div id="info-data">
    <div id="info-contact">
      <h1>Taron Jonathan Alexander</h1>
      <div id="info-company">tecnico en MDE</div>
      <div id="info-contacto">
        <span>Misiones (Argentina)</span>
        <span><a href="#">Informacion de contacto</a></span>
      </div>
      <div id="info-actions">
        <button type="button" class="btn btn-primary">Tengo interes en</button>
        <button type="button" class="btn btn-light">Añadir seccion</button>
        <button type="button" class="btn btn-light">Mas</button>
        <!--<button type="button" class="btn btn-danger">SUBMIT</button>-->
      </div>
    </div>
    <ul id="info-details">
      <a id="data-exp" href="#">
        <img class="img-responsive" id="img-exp" src="../../../assets/logos/mde.jpeg"> <!--logo mde-->
        <h2>Muebles Don Eduardo</h2>
      </a>
      <a id="data-edu" href="#">
        <img class="img-responsive" id="img-edu" src="../../../assets/logos/unam.png"> <!--logo universidad de misiones-->
        <h2>Universidad de Misiones</h2>
      </a>
    </ul>
  </div>
  <!--<div id="info-actions">
    <button type="button" class="btn btn-light">Tengo interes en</button>
    <button type="button" class="btn btn-light">Añadir seccion</button>
    <button type="button" class="btn btn-light">Mas</button>
    <button type="button" class="btn btn-danger">SUBMIT</button>
  </div>-->
  </div>
</div>
<div class="card" id="acercadeid">
  <h1>Acerca de</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero similique, enim saepe sapiente dicta aperiam, labore aspernatur atque repellat corporis nobis pariatur id illum? Dolorum veritatis eos eaque earum nobis?</p>
</div>
