.card {
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 15px;
}

h1, .col {
  margin-left: 15px;
}

.row {
  margin-left: auto;
  margin-right: 5%;
  align-items: center;
}

i {
  width: 40px;
  height: 40px;
}

#btn-delete {
  /*background-color: red;*/
  height: 40px;
  width: 46px;
  border-color: transparent;
  margin-left: 10px;
}

#btn-edit {
  height: 40px;
  width: 46px;
  border-color: transparent;
}

#div-add {
  margin-bottom: 10px;
  margin-top: 30px;
}

#educacion-data {
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 15px;
  margin-top-color: #
}

p {
  margin-bottom: 0px;
}

#data-pack2 {
  margin-left: 15px;
}

#data-exp {
  display: flex;
}

/*#img-exp {
  width: 60px;
  height: 60px;
}*/
