<div class="card">
  <h1>Hard and Soft Skills</h1>
  <div class="text-center col-sm-auto col-md-auto col-lg-auto" id="circulos">
    <circle-progress
      [percent]="65"
      [radius]="90"
      [imageSrc]="'../assets/logos/html.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeColor]="'#FD7E14'"
      [innerStrokeColor]="'#111111'"
      [animation]="true"
      [animationDuration]="400"
    >
    </circle-progress>
    <circle-progress
      [percent]="40"
      [radius]="90"
      [imageSrc]="'../assets/logos/CSS.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeColor]="'#0D6EFD'"
      [innerStrokeColor]="'#111111'"
      [animation]="true"
      [animationDuration]="400"
    >
    </circle-progress>
    <circle-progress
      [percent]="60"
      [radius]="90"
      [imageSrc]="'../assets/logos/js.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeColor]="'#FFC107'"
      [innerStrokeColor]="'#111111'"
      [animation]="true"
      [animationDuration]="400"
    >
    </circle-progress>
    <circle-progress
      [percent]="80"
      [radius]="90"
      [imageSrc]="'../assets/logos/git.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeColor]="'#198754'"
      [innerStrokeColor]="'#111111'"
      [animation]="true"
      [animationDuration]="400"
    >
    </circle-progress>
    <circle-progress
      [percent]="40"
      [radius]="90"
      [imageSrc]="'../assets/logos/eng.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeColor]="'#198754'"
      [innerStrokeColor]="'#111111'"
      [animation]="true"
      [animationDuration]="400"
    >
    </circle-progress>
    <circle-progress
      [percent]="80"
      [radius]="90"
      [imageSrc]="'../assets/logos/grupal.png'"
      [showImage]="true"
      [imageWidth]="100"
      [imageHeight]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="4"
      [showTitle]="false"
      [showUnits]="false"
      [outerStrokeColor]="'#198754'"
      [innerStrokeColor]="'#111111'"
      [animation]="true"
      [animationDuration]="400"
    >
    </circle-progress>
  </div>
</div>
