.image-banner {
  width: 100%;
  height: 400px;
}

.image-profile {
  border-radius: 100%;
  height: 200px;
}

.btn-edit {
  align-self: flex-end;
}
/*.btn-right {
  display: flex;
  align-self: flex-end;
}*/

.fa-button,.fa {
  color: black;
  display: block;
  height: 2.4rem;
  width: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}

.fa-button:hover,.fa:hover {
  background-color: gray;
}

#info-data {
  display: flex;
  align-self: flex-end;
}

#info-contact {
  width: 80%;
}

#info-details {

  float: right;
  align-self: flex-end;
}

#data-exp,#data-edu {
  display: flex;
  align-self: content;
}

#img-exp {
  width: 60px;
  height: 60px;
}
#img-edu {
  width: 60px;
  height: 60px;
}

#info-actions {
  margin-top: 10px;
}

button {
  margin-right: 5px;
}

#info-card {
  margin-left: 15px;
  margin-right: 15px;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}

#acercadeid {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  margin-top: 20px;
}

#info-img {
  display: flex;
  position: absolute;
  bottom: 220px;
  left: 40px;

}

#info-pad {
  margin-top: 50px;
}
