<div *ngIf="persona" class="card mat-card" id="info-card">
  <div id="info-pad" style="padding: 16px">
  <div id="info-img">
    <img class="image-profile" src="../../../assets/perfil/avatar.jpg"> <!--imagen de perfil-->
    <div class="btn-edit">
      <a href="http://" class="btn-right"><i class="fa fa-edit"></i></a>
    </div>
  </div>
  <div id="info-data">
    <div id="info-contact">
      <h1>{{persona.apellidoPer}} {{persona.nombrePer}}</h1>
      <div id="info-company">{{persona.tituloPer}}</div>
      <div id="info-contacto">
        <span>{{persona.provinciaPer}} ({{persona.paisPer}})</span>
        <span><a href="#">Informacion de contacto</a></span>
      </div>
      <div id="info-actions">
        <button type="button" class="btn btn-primary">Tengo interes en</button>
        <button type="button" class="btn btn-light">Añadir seccion</button>
        <button type="button" class="btn btn-light">Mas</button>
      </div>
    </div>
    <ul id="info-details">
      <a id="data-exp" href="#">
        <img class="img-responsive" id="img-exp" src="../../../assets/logos/mde.jpeg"> <!--logo mde-->
        <h2>Muebles Don Eduardo</h2>
      </a>
      <a id="data-edu" href="#">
        <img class="img-responsive" id="img-edu" src="../../../assets/logos/unam.png"> <!--logo universidad de misiones-->
        <h2>Universidad de Misiones</h2>
      </a>
    </ul>
  </div>
  </div>
</div>
<div class="card" id="acercadeid">
  <h1 class="mt-3">Acerca de</h1>
    <p class="mt-4">{{persona?.sobreMiPer}}</p>
</div>
