<div class="card" id="educacion-data">
  <div id="data-pack2">
    <h1>Educacion</h1>
    <ul *ngFor="let educacion of educacions" id="exp-card">
      <div id="data-exp">
      <a href="#">
        <img class="img-responsive" id="img-exp" src="../../../assets/logos/unam.png"> <!--logo mde-->
      </a>
      <div>
        <h2>{{educacion.idInstitucionEdu}}</h2>
        <p>{{educacion.tituloEdu}}</p>
        <p>{{educacion.finEdu}}-{{educacion.iniEdu}}</p>
      </div>
      </div>
    </ul>
  </div>
</div>
