<div>
    <a href="www.linkedin.com/in/jonathan-a-taron-1a671123a"><img src="../../../assets/logos/linkedin.png" id="linkedin"></a>
    <a href="https://github.com/t4rget"><img src="../../../assets/logos/github.png" id="github"></a>
    <!--<a href=""><img src="../../../assets/logos/hackthebox.svg" id="hackthebox"></a>
    <a href=""><img src="../../../assets/logos/telegram.png" id="telegram"></a>
    <a href=""><img src="../../../assets/logos/instagram.png" id="instagram"></a>
    --><a href="https://twitter.com/Teiron_Decio"><img src="../../../assets/logos/twitter.png" id="twitter"></a>
    <!--<a href=""><img src="../../../assets/logos/facebook.png" id="facebook"></a>
    <a href=""><img src="../../../assets/logos/vksocial.png" id="vksocial"></a>
    -->
</div>
