<div class="form-group m-5">
  <div class="m-5">
    <h1>Habilidades</h1>
    <div class="card-content m-5 mt-4">
      <label class="mt-3">Habilidad:</label>
      <input type="text" class="form-control" placeholder="ej: Javascript">
      <label class="mt-3">URL Imagen:</label>
      <input type="text" class="form-control" placeholder="ej: https://logo.com.ar">
    </div>
  </div>
  <div class="m-5">
    <h1>Institucional</h1>
    <div class="card-content m-5 mt-4">
      <label class="mt-3">Instituto:</label>
      <input type="text" class="form-control" placeholder="ej: Instituto Argentina Programa">
      <label class="mt-3">Domicilio:</label>
      <input type="text" class="form-control" placeholder="ej: Calle 1234">
      <label class="mt-3">URL:</label>
      <input type="text" class="form-control" placeholder="ej: https://logo.com.ar">
    </div>
  </div>
  <div class="m-5">
    <h1>Empresarial</h1>
    <h3 class="mt-5">Empresas</h3>
    <div class="card-content m-5 mt-4">
      <label class="mt-3">Empresa:</label>
      <input type="text" class="form-control" placeholder="ej: Google">
      <label class="mt-3">Domicilio:</label>
      <input type="text" class="form-control" placeholder="ej: Calle 1234">
      <label class="mt-3">URL:</label>
      <input type="text" class="form-control" placeholder="ej: https://logo.com.ar">
      <label class="mt-3">Descripcion:</label>
      <input type="text" class="form-control" placeholder="ej: Nos dedicamos a desarrollar soluciones digitales">
    </div>
    <h3 class="mt-3">Cargo/Puesto</h3>
    <div class="card-content m-5 mt-4">
      <label class="mt-3">Nombre del cargo/puesto:</label>
      <input type="text" class="form-control" placeholder="ej: Full Stack Developer">
    </div>
    <h3 class="mt-3">Jornada</h3>
    <div class="card-content m-5 mt-4">
      <label class="mt-3">Tipo de Jornada:</label>
      <input type="text" class="form-control" placeholder="ej: Jornada Completa">
    </div>
  </div>
  <div class="m-5">
    <h1>Geografico</h1>
    <div class="card-content m-5 mt-4">
      <label class="mt-3">Pais:</label>
      <input type="text" class="form-control" placeholder="ej: Argentina">
      <label class="mt-3">Provincia:</label>
      <input type="text" class="form-control" placeholder="ej: Misiones">
      <label class="mt-3">Ciudad:</label>
      <input type="text" class="form-control" placeholder="ej: Obera">
    </div>
  </div>
</div>
